{% extends 'base.html.twig' %}

{% block body %}

    <h2>Category</h2>
    <form action="{{ path('app_homepage') }}">
        <input type="text" name="q">

        <input type="submit">
    </form>

    <table>
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.fortuneCookies|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}

{% endblock %}

