{% extends 'base.html.twig' %}

{% block body %}
    <h1> Query for your Fortune </h1>
    <h2>Category</h2>
    <form action="{{ path('app_homepage') }}">
        <input type="text" name="q">

        <input type="submit">
    </form>


    <p> Review categories for available cookie fortunes </p>
    <div>
        {% for category in categories %}
            <a href="{{ path('app_category_show', {'id':  category.id}) }}">
                {{ category.name }} - ({{ category.fortuneCookies|length }})
            </a>
            <br>
        {% else %}
            <h3>Not found</h3>
        {% endfor %}
    </div>
{% endblock %}
